<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Article: Wizard News</title>
  </head>

  <body>
    <h2>New article</h2>
    <form action="/form" method="post">
      <label for="title">Article Title:</label>
      <input type="text" id="title" name="title" /><br>

      <label for="url">Article URL:</label>
      <input type="text" id="url" name="url" /><br>

      <label for="description">Description:</label>
      <input type="text" id="description" name="descript" /><br>

      <input type="submit" value="Publish" />
    </form>
  </body>
</html>
